{% extends "userbase.html" %}
{% block content %}
<html>
    <body>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th class="text-primary">Name</th>
                <th class="text-primary">Address</th>
                <th class="text-primary">Phone</th>
                <th class="text-primary">Details</th>
            </tr>
            {% for i in orders%}
            <tr>
               <td>{{i.Name}}</td>
               <td>{{i.Address}}</td>
               <td>{{i.Phone}}</td>  
               <td><a href="{% url 'orderDetails' i.id %}">Details</a></td>
            </tr>
            {% endfor %}
        </table>
        {% if  messages %}
        {% for msg in messages%}
        <script>
            alert("{{msg}}")
        </script>
        {% endfor %}
        {% endif %}

    </body>
</html>
{% endblock %}