{% extends "sellerbase.html "%}
{% block content %}
<html>
    <body>
        <form method="post" action="{% url 'sellerpasswordAction' %}">
            {% csrf_token%}
            <table>
                <tr>
                    <th class="text-primary" style="padding: 20px;">Old Pasword</th>
                    <td><input type="text" class="form-control" name="oldpassword"></td>
                </tr>
                <tr>
                    <th class="text-primary" style="padding: 20px;">New Password</th>
                    <td><input type="text" class="form-control" name="newpassword"></td>
                </tr>
                <tr>
                    <th class="text-primary" style="padding: 20px;">Confirm Password</th>
                    <td><input type="text" class="form-control" name="confirmpassword"></td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" class="btn btn-outline-primary" value="change password"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
{% endblock %}