{% extends "sellerbase.html" %}
{% block content %}
<html>
    <body>
        <form method="post" action="{% url 'editprofileseller' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table style="width: 100%;">
            {% for t in prof_sell %}
            <input type="hidden" class="form-control" name="id" value="{{t.id}}">
            <tr>
                <th class="text-primary" style="padding: 20px;">Name</th>
                <td><input type="text" name="name" class="form-control" value="{{t.Name}}"></td>
            </tr>
            <tr>
                <th class="text-primary" style="padding: 20px;">Gender</th>
            <td>
                {% if t.Gender == female %}
                <input type="radio" name="gender" class="form-check-input" value="female" checked="true">female
                <input type="radio" name="gender" class="form-check-input" value="male">male
                {% else %}
                <input type="radio" name="gender" class="form-check-input" value="male" checked="true">male
                <input type="radio" name="gender" class="form-check-input" value="female">female
                {% endif %}
            </td>

            </tr>
            <tr>
                <th class="text-primary" style="padding: 20px;">Age</th>
                <td><input type="number" name="age" class="form-control" value="{{t.Age}}"></td>
            </tr>
            <tr>
                <th class="text-primary" style="padding: 20px;">Address</th>
                <td><textarea name="address" rows="10" class="form-control" cols="5">{{t.Addresss}}</textarea></td>
            </tr>
            <tr>
                <th class="text-primary" style="padding: 20px;">Place</th>
                <td><input type="text" name="place" class="form-control" value="{{t.Place}}" ></td>

            </tr>
            <tr>
                <th class="text-primary" style="padding: 20px;">Phone</th>
                <td>
                    <input type="number" name="phone" class="form-control" value="{{t.Phone}}">
                </td>
            </tr>
            <tr>
                <th class="text-primary" style="padding: 20px;">Username</th>
                <td><input type="text" name="username" class="form-control" value="{{t.username}}"></td>
            </tr>
            <tr>
                <th class="text-primary" style="padding: 20px;">Image</th>
                <td><img src="{{t.image.url}}" class="image image-fluid" height="100px" width="150px"></td>
                <td><input type="file" name="image" class="form-control" value="{{t.image.url}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="update" class="btn btn-outline-primary"></td>
            </tr>
            {% endfor %}
        </table>
        
    </form>
    </body>
</html>
{% endblock %}